* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,'Times New Roman', Times, serif;
    color: #F9FAF8;
    font-size: 24px;
}

body {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.full-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 4px solid rgb(163, 150, 10);
    background-color: beige;
}

.display{
    background-color: gray;
    border: 4px solid rgb(68, 65, 65);
    width: 300px;
    height: 70px;
    text-align: right;
}

.but{
    padding: 4px 26px;
    background-color: #1F2937;
    border-radius: 10px;
    cursor: pointer;
    width: 70px;
    height: 40px;
}